body{
	margin: 0;
}

ul.menu{
	list-style: none;
	padding: 0;
	margin: 0;
	
}

ul.menu li{
	box-sizing: border-box;
	background: olive;
	width: 25%;
	 
}

ul.menu li a{
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 10px;

}

ul.menu li a:hover{
	background: #000;


}

