body{
	margin:0px;
	font-family: 'Raleway', sans-serif;

}

.titulo{

	height:60px;
	background-size: 100px;
	background-color: black;
	color:white;
	position: relative;

}

ul{
	background-color: #f5f5f5;
	width: 342px;
	height: 177px;
	padding: 40px;
	margin-top: 0px;
}


.sub{
	position: relative;
	left: 435px;
	bottom:245px;
	margin: 5px;
	background-color: white;

}
.barra_final{
	background-color: #dcdcdc;
	height: 20px;
	padding: 10px;
	position: relative;
	bottom: 196px;
	text-align: center;

}

